.mw {
	position: fixed;
	overflow: hidden;
}
.fixedtoleft, .fixedtoright, .maximized {
	top: 0 !important;
	height: 100vh !important;
}
.fixedtoleft {
	width: 50vw !important;
	left: 0 !important;
}
.fixedtoright {
	width: 50vw !important;
	left: 50vw !important;
}
.maximized {
	width: 100vw !important;
	left: 0 !important;
}
.maximized .contents, .fixedtoleft .contents, .fixedtoright .contents {
	width: 100% !important;
	height: 100% !important;
}
.mw .taskbar {
	box-shadow: inset 0px 10px 10px #FFF4, inset 0px -5px 10px #0004
}
.mw .taskbar .title {
	font-family: "Segoe UI";
	position: absolute;
	left: 5px;
	top: 3px;
	margin: 0;
	user-select: none;
	pointer-events: none;
}
.mw .taskbar .actions {
	user-select: none;
	background-color: #0001;
}
.mw .taskbar .actions .action {
	cursor: pointer;
	display: inline-block;
}
.mw .taskbar .actions .action:hover {
	background-color: #FFF1;
}